<div class="container">
  <div class="row justify-content-center">
    <% current_user.bookings.each do |booking| %>
      <div id="show-card" class="card col-lg-5 mr-2 ml-2 mb-3">
        <img class="card-img-top pt-3 rounded" src="<%= booking.venue.photo %>" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title"><%= booking.venue.name %></h3>
          <div class="card-title"><strong>Arriving:</strong> <%= booking.check_in %></div>
          <div class="card-title"><strong>Hired for:</strong>
            <% if (booking.check_out - booking.check_in).to_i == 0 %>
              1 day
          <p class="card-title"><strong>Total Cost:</strong> £<%= booking.venue.price%></p>
          </div>
          <% else %>
            <%= (booking.check_out - booking.check_in).to_i %> days

          <p class="card-title"><strong>Total Cost:</strong> £<%= booking.venue.price * ((booking.check_out - booking.check_in).to_i)  %></p>
          </div>
            <% end %>
          <div class="card-title"><strong>Payment Status:</strong> <% if booking.payment_completed? %>
            <label class="bg-success text-white rounded pl-1 pr-1">Paid</label>
            <% else %>
            <label class="bg-danger text-white rounded pl-1 pr-1">Not paid</label>
            <% end %>
          </div>




          <a href="<%= venue_path(booking.venue_id) %>" id ="btn-color-override" class="btn btn-primary btn-block">Venue Details</a>
           <%= link_to "Review this venue", new_booking_venue_review_path(booking), id: "btn-color-override", class: "btn btn-primary btn-block" %>

        </div>
      </div>
    <% end %>
  </div>
</div>
