<% if params[:action] == 'home' %>

<% else %>

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

    <%= link_to root_path, class: 'navbar-brand' do %>
    <div id="logo-text" >VenueMenu</div>
    <% end %>

      <li class="w-100 mr-3 ml-2">
          <%= form_tag venues_path, :class => "position-form" , method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search by location"
            %>
            <%= submit_tag "Search", class: "btn btn-outline-light ml-2" %>
          <% end %>
      </li>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active dropdown">
           <%  if user_signed_in? %>
           <div>
             <%  myname = current_user.name + "'s Profile" %>
             <%= link_to myname, profile_path, class: "nav-link dropbtn", id: "nav-link-white"  %>
           </div>
            <div class="dropdown-content">
              <%= link_to "My Bookings", profile_path %>
              <%= link_to "My Venues", myvenues_path %>
              <%= link_to "Add Venue", new_venue_path %>
            </div>
           <% end %>
        </li>

        <li class="nav-item">
          <% if user_signed_in? == false %>
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link", id: "nav-link-white" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%  if user_signed_in? %>
            <%= link_to "Sign out",destroy_user_session_path, method: :delete, class: "nav-link", id: "nav-link-white" %>
          <%  else %>
            <%= link_to "Sign in",new_user_session_path, class: "nav-link", id: "nav-link-white"  %>
          <%  end %>
        </li>
      </ul>
    </div>
  </div>

<% end %>
