<div class="container pt-3">
  <div class="row justify-content-center">
      <div id="show-card" class="col-lg-12 pt-3" style="background-repeat: no-repeat; background-size: 100%; height: 660px; background-image: url(<%= @venue.photo %>);"></div>


  </div>



  <div class="row justify-content-between">

    <div  class="offset-lg-1 col-lg-8 overlay">
      <div id="show-card" class="card text-center bg-light" >
        <div class="card-body text-center">
          <div class="row justify-content-between">
            <h1 class="card-title mb-0 mt-0 pl-3"><%= @venue.name %></h1>
            <h3 class="text-center pr-4 pt-2 ">£<%= @venue.price %>/day</h3>
          </div>


          <div class="row justify-content-between pl-3 pr-3">
            <h5 class="text-left pb-3"><%= @venue.address %></h5>

            <a data-toggle="modal" data-target="#exampleModalScrollable" style="text-decoration:none; color: black;">
            <h4 class="text-center mb-0"><% if @venue.rating.nil? == true %> No ratings yet
              <% else %>
                 <span class="gold"><% if @venue.result.between?(4.8, 5) %>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                <% elsif @venue.result.between?(4.5, 4.799)  %>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i>

                <% elsif @venue.result.between?(4, 4.5) %>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                <% elsif @venue.result.between?(3.5, 3.99) %>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i>

                <% elsif @venue.result.between?(3, 3.5) %>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                <% elsif @venue.result.between?(2.5, 2.99) %>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i>

                <% elsif @venue.result.between?(2, 2.5) %>
                <i class="fas fa-star"></i><i class="fas fa-star"></i>

                <% elsif @venue.result.between?(1.5, 1.99) %>
                <i class="fas fa-star"></i><i class="fas fa-star-half"></i>

                <% elsif @venue.result.between?(1, 1.5)  %>
                <i class="fas fa-star"></i>
                <% end  %></span>
                <span class="no-dec">(<%= @venue.result %>)</span>
              <% end %>
            </h4>
            </a>


          </div>
          <div class="row">
            <h5 class="pl-3"></h5><p class="card-text text-justify pl-3 pr-3 pt-4 pb-3"><%= @venue.description %></p>
          </div>

          <h5 class="pb-2 pt-3 text-center">Amenties</h5>
            <div class="row justify-content-around pt-3 pb-5 pl-5 pr-5 mr-3 ml-3">
              <i id="amen-icon" class="fas fa-wheelchair"></i><i id="amen-icon" class="fas fa-glass-cheers"></i><i id="amen-icon" class="fas fa-utensils"></i><i id="amen-icon" class="fas fa-parking"></i><i id="amen-icon" class="fas fa-restroom"></i>
            </div>

          <h5 class="pb-2 pt-3 text-center">Location</h5>
          <div class="mapwrapper">
            <div
              id="map"
                data-markers="<%= @markers.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-3" >
      <div id="show-card" class="card text-center bg-light">
        <% if current_user == @venue.user %>
          <div id="show-card" class="text-center p-2 bg-light text-dark">
            <h5 href="#">Venue Admin Area</h5>
            <%= link_to "Edit",edit_venue_path(@venue), id:"show-card", class: "btn btn-warning" %>
            <%= link_to 'Delete', venue_path(@venue), method: :delete, id:"show-card", class: "btn btn-danger "  %>
          </div>
        <% else %>
        <%= simple_form_for [@venue, @booking] do |f| %>
          <div class="form-inputs">
            <%= f.input :check_in %>
            <%= f.input :check_out %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Book now", id: "show-card", class: "btn btn-primary btn-block" %>
          </div>
          <% end %>
          </div>
        <% end %>
    </div>
  </div>

</div>


<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div id="show-card" class="modal-content">
      <div class="modal-header">
          <h1>Reviews</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% @venue.venue_reviews.each do |review| %>
          <div id="show-card">
          <strong>Name:</strong> <%= %><br>
            <% if review.rating.between?(1, 2) %>
              <i class="fas fa-star gold"></i><br>
            <% elsif review.rating.between?(2, 3) %>
              <i class="fas fa-star gold"></i><i class="fas fa-star gold"></i><br>
            <% elsif review.rating.between?(3, 4) %>
              <i class="fas fa-star gold"></i><i class="fas fa-star gold"></i><i class="fas fa-star gold"></i><br>
            <% elsif review.rating.between?(4, 4.7) %>
              <i class="fas fa-star gold"></i><i class="fas fa-star gold"></i><i class="fas fa-star gold"></i><i class="fas fa-star gold"></i><br>
            <% elsif review.rating.between?(4.7, 5) %>
              <i class="fas fa-star gold"></i><i class="fas fa-star gold"></i><i class="fas fa-star gold"></i><i class="fas fa-star gold"></i><i class="fas fa-star gold"></i><br>
            <% end %>
            <%= review.description%><br>
  ​        </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
