<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <%= yield %>

    <div class="footer">
      <div class="footer-links">
        <a href="#">Terms</a>
        <a href="#">Contact us</a>
        <a href="#">Privacy</a>
        <a href="#">Help</i></a>
      </div>
      <div class="footer-copyright">
        <i class="far fa-copyright"></i> Repay the delay 2019
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
